* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Console', 'Courier New', monospace;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../cmBG.jpg');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logincontainer{
    width: 350px;
    height: 500px;
    z-index: 1;
   /* background: rgba(255, 255, 255, 0.1); */
    background: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1.75px solid #f7a21e;
    position: absolute;  /* Add this */
    left: 10%;  /* Align to the left */
    top: 50%;  /* Center vertically */
    transform: translateY(-50%);  /* Center vertically */
    padding-left: 10px;  /* Optional: add space from the edge */
    padding-top: 35px;
}

.regcontainer{
    width: 400px;
    height: 550px;
    position: relative;
    z-index: 1;
   /* background: rgba(255, 255, 255, 0.1); */
    background: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1.75px solid #f7a21e;
    position: absolute;  /* Add this */
    left: 7.5%;  /* Align to the left */
    top: 50%;  /* Center vertically */
    transform: translateY(-50%);  /* Center vertically */
    padding-right: 10px;  /* Optional: add space from the edge */
    padding-top: 20px;
}

.wrapper {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    font-size: 11px;
    color: white;
}

input{
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background: white;
    border-bottom: 1px solid #fff;
    color: black;
    font-size: 1rem;
    text-align: center;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited{
    color: orange;
}

#newAccount{
    font-size: 20px;
    padding-bottom: 10px; 
}

#name::placeholder{
    text-align: center;
}
#username::placeholder{
    text-align: center;
}
#password::placeholder{
    text-align: center;
}


#username{
    text-align: center;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#password{
    text-align: center;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#name{
    text-align: center;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#email{
    text-align: center;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#regText{
    color: white;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background: #fff;
    color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

button:hover {
    background: transparent;
    color: white;
    outline: 1px solid #fff;
}

p {
    font-size: 12px;
    color: white;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper h1 {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 0px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dashboard-table {
    /* background-color: #cc6a6a; */
    font-size: 22px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;   
}

.dashboard-table th {
    padding: 1.2rem;
    border: 2px solid;

}

.dashboard-table td {
    border: 2px solid;
    padding: 0.8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#loginResult , #registerResult {
    display: block;
    color: #ff0000;
    margin: 10px;
    padding: 10px;
}