.dashboard-table {
    /* background-color: #cc6a6a; */
    font-size: 22px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: auto; 
}

.dashboard-table th {
    padding: 1.2rem;
    border: 2px solid;

}

.dashboard-table td {
    border: 2px solid;
    padding: 0.8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 { 
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #00d5124f;
}